---

---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Deylan Escobar</title>
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#8f7ada" >
    </head>
    <body >
        <h1>DEYLAN HAPSON ESCOBAR PONCE</h1>
        <br>
        <h1 style="position: fixed; left: 897; top: 443;"> Calle riquelme, villa linda nueva aurora Valparaiso</h1>
        <br>
        <br>
        <br>
        <br>
        <h1> AMIGO DE MARTIN BUSTOS VIOLADOR Y TRAFICANTE DE NIÑAS </h1>
    </body>
</html>