---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#8f7ada" >
    </head>
    <body>
        <h1 style="position: fixed; left: 833px; top: 40px;">FUNADOS</h1>
        <a href="/martinb/" style="font-size: 300% ; position: fixed; left: 100px; top: 275px;"> Martin Bustos</a>
        <a href="/deylan/" style="font-size: 300% ; position: fixed; left: 100px; top: 425px;">Deylan Escobar</a>
    </body>
</html>

