---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Bienvenido!</title>
        <meta name="robots" content="index, follow">
        <link rel="icon" type="image/png" href="../../public/descarga.ico">
        <meta name="description" content="Pagina de Funas V Región">
        <meta property="og:title" content="FUNADOS V REGION">
        <meta property="og:title" content="FUNADOS EN LA QUINTA REGION">
        <meta property="og:immage" content="../../public/descarga.ico">

    </head>
    <body>
        <h1>
            Bienvenido a Funas V Región
        </h1>
        <a href="/funados/" style="font-size: 200%;" >Funados </a>
    </body>

    

    <style>
        
    </style>
</html>