---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Bienvenido!</title>
    </head>
    <body>
        <h1>
            Bienvenido a Funas V Región
        </h1>
        <a href="/funados/" style="font-size: 200%;" >Funados </a>
    </body>

    

    <style>
        
    </style>
</html>