---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Martin Bustos</title>
    </head>
    <body>
       <h2 style="position: fixed; left: 110px; top: 88px;"> Victimas Martin Bustos: </h2>
       <ul style="position: fixed; left: 300px; top: 136px;">
        <li style="font-size: 150%;">Pascal</li>
        <li style="font-size: 150%;">Hermana Dante </li>
        <li style="font-size: 150%;">Cosplay Therian</li>
        <li style="font-size: 150%;">Keila</li>
        <li style="font-size: 150%;">Deylan</li>
        <li style="font-size: 150%;">Mamá De La Pascal</li>
       </ul>
       <img title="VIOLADOR CHORILLOS" alt="VIOLADOR EN POTENCIA DE LA QUINTA REGION ESPECIFICAMENTE EN CHORILLOS" src="../../imagenesmalechores/bustos.png" style="width:500px; position:fixed; left: 610px; top: 156px ">
       <a href="/" style="font-size: 150% ; fixed; left: 1167px; top: 1068;">Inicio</a>
    </body>
</html> 
